
@media (max-width: 768px),(max-width: 1140px) {
  
 nav {
    display:grid;
    align-items: center;
    padding: 10px;
  
    height: auto;
 }

    ul {
        position: fixed;
        top: 60px;
        height: auto;
        width: 100%;
        left: 100%;
        transition: all 0.5s;
        margin: 0;
        padding: 20px 0;
        list-style: none;
        text-align: center;
        z-index: 1000;
        background-color: #000000;
    }
   ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    ul li a {
        font-size: 1.2em;
    }
    a:hover {
        background: none;
        color: #a8a8a8;
    }
    #check:checked ~ ul {
        left: 0;
    }

#code_foto{
    height: 40px;
    width: 120px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 0;
    height: 30px;
}

.logo{
    padding: 0;
    margin: 0;
    grid-row: 1;
    height: 40px;
    width: 100px;
    align-self: center;
}

  .checkbtn {
    grid-column: 3;
        display: block;
        height: 50px;
        z-index: 1001;
    } 



/* apresentacao */
.apresentacao {
    flex-direction: column-reverse;
    text-align: center;
    height: auto;
    }
 #conteudo_apresentacao {

    height: auto;
}

#minha_foto{
  height: 300px;
    width:auto;
    align-self: center;
}
 
  


.logo_apresentacao {
    display: flex;
    align-self: center;
    align-items: center;
     justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

  .logo_item span {
    display: none;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 1em;
}

 .logo_apresentacao img {
    width: 4vw;
    border: 2px solid red;
    padding: 10px;
    gap: 2vw;
    
  }

}

.sobre{
    align-self: center;
    max-width: 64vw;
    max-height: 600px;
    padding-top: 20px;
   
}

.conteudo_sobre{
    height: max-content;
    width: 100%;
}
.conteudo_sobre p {
  font-size: 1.3em;
 
}

.sobre h2 {
    color: red;
    font-size: 1.8em;
    margin-bottom: 2vh;
  }


@media (max-width: 1162px){
    ul li a{
     font-size: 1em;
    }
}



/* modal imagens */
@media (min-width: 768px) {
    .modal_imagem {
        max-width: 45%;
    }
}
