@media (max-width: 985px) {
    .logo {
        font-size: 1.3em;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 985px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: auto;
        top: 80px;
        left: -100%;
        transition: all 0.5s;
        text-align: center;
        background-color: #000000;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover {
        background: none;
        color: #a8a8a8;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

/* modal imagens */
@media (min-width: 768px) {
    .modal_imagem {
        max-width: 45%;
    }
}
